@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(15,10,20, 0.90);
    background-size: cover;
    background-position: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(200,200,200,0.08);
    border: none;
    border-radius: 2px;
    z-index: 99;
}

.footer {
    font-size: 0.8em;
    position: absolute;
    left: 0;
    bottom: 0%;
    height: 20px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: left;
}

.muno {
    font-size: 2em;
    color: white;
    user-select: none;    
}

.navigation a, .navigation select {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation select {
    font-size: 1.1em;
    color: white;
    background: black;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
    margin: 0;
    padding: 0;
    width: auto; 
}

.navigation a::after, .navigation select::after {
    content: '';
    left: 0;
    bottom: -6px;
    position: absolute;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.navigation a:hover::after, .navigation select:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.container {
    margin-top: 200px;
    margin-right: -20px;
    position: relative;
    width: 200px;
    height: 60px;
    background-color: rgba(0,0, 255, 0.8);
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    
}

.container:hover {
    background: rgba(0,0,255,0.6);
    transition: 0.1s;   
}

.container h2 {
    font-size: 1em;
    color: white;
    text-align: center;
}

.container1 {
    position: relative;
    margin-top: 400px;
    width: 350px;
    height: 60px;
    background: rgba(7, 7, 7, 0.8);
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.container1:hover {
    background: rgba(0,0,0,0.65);
    transition: 0.1s;  
}

.container1 h2 {
    font-size: 1em;
    color: white;
    text-align: center;
}

.main-text {
    margin-bottom: 200px;
    position: absolute;
    font-size: 4.2em;
    color: rgba(255,255,255,0.9);
    user-select: pointer;   
    font-family: 'Lato', sans-serif;
}